<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://team-finder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/746fe8ed-8ca7-42f4-bf57-53846a355aa7/resourceGroups/engagement-team-finder/providers/Microsoft.Web/sites/team-finder</ResourceId>
    <UserName>$team-finder</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://team-finder.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>